
*{
	margin:0px;
	padding:0px;
}
*body{
	font-family: 'Maven Pro', sans-serif;
}
/*header start*/

.header{
	background-color: #052228;
	padding:15px 0px;
}
.wrapper{
	width: 80%;
	margin:0 auto;
	overflow:hidden;
}
.logo{
	width:20%;
	float:left;
}
.logo h1{
	color:#EFF4F8;
	font-family: 'Maven Pro', sans-serif;
	padding:5px 0px;
	font-size: 27px;
}
.menu{
	width:70%;
	float:right;
}
.menu ul{
	float:right;
}
.menu ul li{
	list-style:none;
	float:left;
}
.menu ul li a{
	text-decoration: none;
	padding:10px 20px;
	color:#07505F;
	transition:.5s;
	display: block;
	font-size: 20px;
}
.menu ul li:last-child a{
	padding-right:0;
}
.menu ul li a:hover {
	background-color:#1AB0C0;

}

/*header end*/

/*banner start*/

.banner{
	background-color: #051C22;
	padding:30px 0px;
}
.content{
	width:30%;
	float:left;
	padding-top:20px;
}
.content h1{
	font-size: 70px;
	color: #EBF5F5;
	font-family: 'Fjalla One', sans-serif;
}

.content p{
	font-family: 'Ubuntu', sans-serif;
	color:#0A464E;
	text-align: justify;
	margin-top: 7px;

}
.image{
	width:60%;
	float:right;
	padding-right:0px;

}
.image img{
	width:100%;

}
/*banner end*/

/* service start */
.service{
	background-color: #F4F4F4;
	padding:50px 0;
	overflow:hidden;
}
.service-box{
	width:30%;
	float:left;
	padding:0px 16.5px;
}

.title{
	overflow:hidden;
	
}
.icon{
	width:20%;
	float:left;
}
.icon img{
	width:100%;
}
.icon-content{
	width:70%;
	padding:20px 5px;
	float:left;
	display: block;
}
.icon-content h1{
	color:#7F7F7F;

}
.title-content{
	padding: 10px 0px;
	line-height:1.5;
	color:#7F7F7F;
}
.title-content p{

}
.title-content button{
	border: none;
	margin-top: 20px;
	padding: 10px ;
	padding-right:20px;
	border-radius: 15px;
}
hr.style-two{
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, 
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.100),
		rgba(0, 0, 0, 0));
}
/* service end */

/* work-box start */

.recent-work{
	background-color: #F4F4F4;
	padding:25px 0;
	overflow:hidden;
}
.work-box{
	width:30%;
	float:left;
	padding:0px 16.5px;
}

.title{}

.work-box .icon{
	width:100%;
}
.icon img{
	width:100%;
}
.icon h1{
	padding-top:10px;
	color:#7F7F7F;
}
.title-content{
	padding: 10px 0px;
	line-height:1.5;
	color:#7F7F7F;
}
.title-content p{}

.title-content button{
	border: none;
	margin-top: 20px;
	padding: 10px ;
	padding-right:20px;
	border-radius: 15px;
}
/* work-box end */

/* website start */
.website{	
	background-color: #F4F4F4;
	padding:5px 0px;
}
.website-left{
	width:75%;
	float:left;
	overflow:hidden;
}
.website-img{
	width:10%;
	float:left;
}
.website-img img{
	width:100%;
}
.website-content{
	width:85%;
	float:right;
	padding:28px 0;
}
.website-content p:first-child{
	color:#7F7F7F;
	font-size:23.5px;
}
.website-content p:last-child{
	color:#7F7F8F;
	padding:5px 0px;
	font-size: 25px;
}

.website-right{
	width:20%;
	float:right;
}
.website-right button{
	margin-top: 30px;
	padding:15px 40px;
	color:#7F7F8F;
	font-size: 18px;
}
/* website end */

/* footer-start */
.footer{
	background-color: #182724;
	padding-bottom:40px;
}
.footer-menu{
	width:60%;
	float:left;
}
.footer-menu ul{
	float:left;
}
.footer-menu ul li{
	list-style:none;
	float:left;
}
.footer-menu ul li a{
	text-decoration: none;
	padding:15px 20px;
	color:#07505F;
	transition:.5s;
	display: block;
	font-size: 20px;
}
.footer-menu ul li a:first-child{
	padding-left: 0px;
}
.footer-content{
	width:30%;
	float:right;
	color:#07505F;
	padding:15px 0px;
}
.footer-content p{
	font-size: 18px;
	
}

/* footer-end */
